[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
	
[submodule "public"]
	path = public
	url = https://github.com/oishi-poddar/oishi-poddar.github.io.git
	branch = master
